name: run tests and lint

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: install deps
        run: npm ci
      - run: make lint
      - run: npm test
      - name: Test & publish code coverage
      #   # Publish code coverage on Code Climate
      #   # https://github.com/paambaati/codeclimate-action
      - uses: paambaati/codeclimate-action@v3
      #   # Add Code Climate secret key
        env:
           CC_TEST_REPORTER_ID: ${{ secrets.COVERAGE_ID }}
        with:
          coverageCommand: make test-coverage
          debug: true
      
